//  Managed by Ansible
//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

key dhcpupdate {
  algorithm hmac-md5;
  secret "{{ dnssec_key }}";
};

zone "{{ bind_top_level_domain }}" {
  type master;
  file "/etc/bind/db.{{ bind_top_level_domain }}";
  allow-update { key dhcpupdate; };
  notify yes;
};

zone "{{ bind_reverse_zone }}.in-addr.arpa" {
  type master;
  file "/etc/bind/db.{{ bind_top_level_domain }}_rev";
  allow-update { key dhcpupdate; };
  notify yes;
};
